# 2021-2 ESAA 5기 김혜준 필사 과제

## Do it! 데이터 분석을 위한 판다스 입문

## Chapter 12 시계열 데이터

### 12-1  datetime 오브젝트

In [4]:
### datetime 오브젝트 사용하기

# 1. datetime 라이브러리 불러오기

from datetime import datetime

In [5]:
# 2. .now(), .today() -> 현재 시간 출력

now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2021-10-02 22:32:57.525381
2021-10-02 22:32:57.525381

In [7]:
# 3. datetime 오브젝트 생성

t1 = datetime.now()
t2 = datetime(1970, 1, 1)
t3 = datetime(1970, 12, 12, 13, 24, 34)

print(t1)
print(t2)
print(t3)

2021-10-02 22:37:40.531559
1970-01-01 00:00:00
1970-12-12 13:24:34

In [8]:
# 4. 시간 계산 - 두 datetime 오브젝트의 차이

diff1 = t1- t2

print(diff1)
print(type(diff1))

18902 days, 22:37:40.531559
<class 'datetime.timedelta'>

In [9]:
diff2 = t2- t1

print(diff2)
print(type(diff2))

-18903 days, 1:22:19.468441
<class 'datetime.timedelta'>

### 12-2 사례별 시계열 데이터 계산하기

In [19]:
### 테슬라 주식 데이터로 시간 계산하기

# 1. tesla 데이터프레임 생성

import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에 데이터프레임 저장
tesla = pdr.get_data_quandl('TSLA', api_key = 'AgxqyXi_zkwq6ojzmPh5')

# tesla에 저장된 데이터프레임을 파일로 저장
tesla.to_csv('./data/tesla_stock_quandl.csv')

In [23]:
# 2. tesla 데이터프레임 확인

print(tesla.head())
print(tesla.tail())

        Date    Open    High     Low   Close      Volume  ExDividend  \
0 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
1 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
3 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
4 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
0         1.0   304.00   304.27  277.18    279.18  13696168.0
1         1.0   307.34   307.59  291.36    304.18   8324639.0
2         1.0   311.25   311.61  300.45    301.54   6600538.0
3         1.0   313.89   318.82  308.18    309.10   4914307.0
4         1.0   310.25   322.44  310.19    316.53   5927881.0
          Date    Open      High     Low   Close     Volume  ExDividend  \
366 2016-10-10  201.35  204.1400  199.66  200.95  3316297.0         0.0
367 2016-10-07  201.00  201.3200  195.80  196.61  3493018.0         0.0
368 2016-10-06  202.46  204.2099  200.21  201.00  4703402.0         0.0
369 2016-10-05  212.24  213.1500  208.12  208.46  1877534.0         0.0
370 2016-10-04  213.10  213.3200  208.82  211.41  3541481.0         0.0

     SplitRatio  AdjOpen   AdjHigh  AdjLow  AdjClose  AdjVolume
366         1.0   201.35  204.1400  199.66    200.95  3316297.0
367         1.0   201.00  201.3200  195.80    196.61  3493018.0
368         1.0   202.46  204.2099  200.21    201.00  4703402.0
369         1.0   212.24  213.1500  208.12    208.46  1877534.0
370         1.0   213.10  213.3200  208.82    211.41  3541481.0

In [24]:
# 3. date 열을 datetime 형으로 변환 -> read_csv 이용

tesla = pd.read_csv('./data/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        371 non-null    datetime64[ns]
 1   Open        371 non-null    float64
 2   High        371 non-null    float64
 3   Low         371 non-null    float64
 4   Close       371 non-null    float64
 5   Volume      371 non-null    float64
 6   ExDividend  371 non-null    float64
 7   SplitRatio  371 non-null    float64
 8   AdjOpen     371 non-null    float64
 9   AdjHigh     371 non-null    float64
 10  AdjLow      371 non-null    float64
 11  AdjClose    371 non-null    float64
 12  AdjVolume   371 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 37.8 KB
None

In [31]:
# 4. dt 점근자로 데이터 추출

# print(tesla.loc[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.month == 6)])
print(tesla.loc[(tesla.Date.dt.year == 2017) & (tesla.Date.dt.month == 7)])

          Date    Open      High       Low   Close      Volume  ExDividend  \
164 2017-07-31  335.50  341.4900  321.0400  323.47   8499335.0         0.0
165 2017-07-28  336.89  339.6000  332.5100  335.07   4841257.0         0.0
166 2017-07-27  346.00  347.5000  326.2900  334.46   8259202.0         0.0
167 2017-07-26  340.36  345.5000  338.1200  343.85   4750198.0         0.0
168 2017-07-25  345.00  345.6000  334.1500  339.60   6958889.0         0.0
169 2017-07-24  330.24  343.3990  330.0100  342.52   8552012.0         0.0
170 2017-07-21  329.46  331.2575  325.8000  328.40   4826383.0         0.0
171 2017-07-20  326.90  330.2200  324.2000  329.92   5098707.0         0.0
172 2017-07-19  328.23  331.6500  323.2193  325.26   6300735.0         0.0
173 2017-07-18  317.50  329.1300  315.6600  328.24   6326961.0         0.0
174 2017-07-17  325.54  327.1000  313.4500  319.57   9784200.0         0.0
175 2017-07-14  323.19  328.4200  321.2200  327.78   5590393.0         0.0
176 2017-07-13  330.11  331.6000  319.9700  323.41   8540442.0         0.0
177 2017-07-12  330.40  333.1000  324.5000  329.52  10297839.0         0.0
178 2017-07-11  316.00  327.2800  314.3000  327.22  11400054.0         0.0
179 2017-07-10  312.90  317.9400  303.1300  316.05  13702080.0         0.0
180 2017-07-07  313.50  317.0000  307.3800  313.22  14053750.0         0.0
181 2017-07-06  317.26  320.7899  306.3000  308.89  19189195.0         0.0
182 2017-07-05  347.20  347.2400  326.3300  327.09  16883496.0         0.0
183 2017-07-03  370.24  371.3500  351.5000  352.62   6297330.0         0.0

     SplitRatio  AdjOpen   AdjHigh    AdjLow  AdjClose   AdjVolume
164         1.0   335.50  341.4900  321.0400    323.47   8499335.0
165         1.0   336.89  339.6000  332.5100    335.07   4841257.0
166         1.0   346.00  347.5000  326.2900    334.46   8259202.0
167         1.0   340.36  345.5000  338.1200    343.85   4750198.0
168         1.0   345.00  345.6000  334.1500    339.60   6958889.0
169         1.0   330.24  343.3990  330.0100    342.52   8552012.0
170         1.0   329.46  331.2575  325.8000    328.40   4826383.0
171         1.0   326.90  330.2200  324.2000    329.92   5098707.0
172         1.0   328.23  331.6500  323.2193    325.26   6300735.0
173         1.0   317.50  329.1300  315.6600    328.24   6326961.0
174         1.0   325.54  327.1000  313.4500    319.57   9784200.0
175         1.0   323.19  328.4200  321.2200    327.78   5590393.0
176         1.0   330.11  331.6000  319.9700    323.41   8540442.0
177         1.0   330.40  333.1000  324.5000    329.52  10297839.0
178         1.0   316.00  327.2800  314.3000    327.22  11400054.0
179         1.0   312.90  317.9400  303.1300    316.05  13702080.0
180         1.0   313.50  317.0000  307.3800    313.22  14053750.0
181         1.0   317.26  320.7899  306.3000    308.89  19189195.0
182         1.0   347.20  347.2400  326.3300    327.09  16883496.0
183         1.0   370.24  371.3500  351.5000    352.62   6297330.0

#### datetime 오브젝트와 인덱스 - DatetimeIndex

In [32]:
### datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

# 1. Date 열을 tesla 데이터프레임의 인덱스로 지정

tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2016-10-17', '2016-10-14', '2016-10-13', '2016-10-12',
               '2016-10-11', '2016-10-10', '2016-10-07', '2016-10-06',
               '2016-10-05', '2016-10-04'],
              dtype='datetime64[ns]', name='Date', length=371, freq=None)

In [33]:
# 2. 원하는 시간의 데이터 추출 - 연도

# print(tesla['2015'].iloc[:5,:5])
print(tesla['2016'].iloc[:5,:5])

                 Date    Open    High       Low   Close
Date
2016-12-30 2016-12-30  216.30  217.50  211.6800  213.69
2016-12-29 2016-12-29  218.56  219.20  214.1225  214.68
2016-12-28 2016-12-28  221.53  223.80  217.2000  219.74
2016-12-27 2016-12-27  214.88  222.25  214.4200  219.53
2016-12-23 2016-12-23  208.00  213.45  207.7100  213.34

<ipython-input-33-fd96ff35baee>:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2016'].iloc[:5,:5])

In [34]:
# 3. 원하는 시간의 데이터 추출 - 월

# print(tesla['2010-06'].iloc[:,:5])
print(tesla['2017-06'].iloc[:,:5])

                 Date     Open      High       Low   Close
Date
2017-06-30 2017-06-30  363.710  366.7674  359.6187  361.61
2017-06-29 2017-06-29  370.610  371.0000  354.1000  360.75
2017-06-28 2017-06-28  366.680  371.7400  362.5200  371.24
2017-06-27 2017-06-27  376.400  376.4000  362.0200  362.37
2017-06-26 2017-06-26  386.690  386.9500  373.1000  377.49
2017-06-23 2017-06-23  382.450  386.9900  379.3450  383.45
2017-06-22 2017-06-22  377.990  385.0000  373.5700  382.61
2017-06-21 2017-06-21  374.350  376.9900  368.0200  376.40
2017-06-20 2017-06-20  376.670  378.8800  369.7300  372.24
2017-06-19 2017-06-19  375.000  376.7000  367.8000  369.80
2017-06-16 2017-06-16  377.975  378.0100  370.1000  371.40
2017-06-15 2017-06-15  372.500  375.4600  366.4900  375.34
2017-06-14 2017-06-14  381.085  384.2500  376.3100  380.66
2017-06-13 2017-06-13  367.620  376.0000  366.6100  375.95
2017-06-12 2017-06-12  357.990  364.5000  350.6200  359.01
2017-06-09 2017-06-09  374.420  376.8700  354.8000  357.32
2017-06-08 2017-06-08  363.750  371.9000  360.2200  370.00
2017-06-07 2017-06-07  356.340  360.5000  355.1400  359.65
2017-06-06 2017-06-06  344.700  359.4929  339.9700  352.85
2017-06-05 2017-06-05  338.500  348.4400  334.2100  347.32
2017-06-02 2017-06-02  339.770  342.8800  335.9300  339.85
2017-06-01 2017-06-01  344.000  344.8800  337.2900  340.37

<ipython-input-34-be537082d178>:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2017-06'].iloc[:,:5])

#### 시간 간격과 인덱스 - TimedeltaIndex

In [35]:
### 시간 간격을 인덱스로 지정해 데이터 추출하기

# 1. 데이터 수집 이후 흐른 시간 계산

tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 539 days
2018-03-26 538 days
2018-03-23 535 days
2018-03-22 534 days
2018-03-21 533 days

In [36]:
# 2. 시간 간격을 인덱스로 지정

tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
539 days 2018-03-27  304.00  304.27  277.18  279.18
538 days 2018-03-26  307.34  307.59  291.36  304.18
535 days 2018-03-23  311.25  311.61  300.45  301.54
534 days 2018-03-22  313.89  318.82  308.18  309.10
533 days 2018-03-21  310.25  322.44  310.19  316.53

In [38]:
# 3. 데이터 수집 이후 최초 5일 데이터 추출

print(tesla['5 days':].iloc[:5, :5])

               Date    Open      High     Low   Close
ref_date
3 days   2016-10-07  201.00  201.3200  195.80  196.61
2 days   2016-10-06  202.46  204.2099  200.21  201.00
1 days   2016-10-05  212.24  213.1500  208.12  208.46
0 days   2016-10-04  213.10  213.3200  208.82  211.41

#### 시간 범위와 인덱스

In [51]:
### 시간 범위 생성해 인덱스로 지정하기

# 1. 에볼라 데이터 집합 -> 2015년 01월 01일 데이터 누락

ebola = pd.read_csv('./data/country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [52]:
# 2. 에볼라 데이터 집합 -> 2014년 03월 23일 데이터 누락

print(ebola.iloc[-5,:5])

Date                 2014-03-27 00:00:00
Day                                    5
Cases_Guinea                       103.0
Cases_Liberia                        8.0
Cases_SierraLeone                    6.0
Name: 117, dtype: object

In [53]:
# 3. 시간 인덱스 생성 -> date_range()

head_range = pd.date_range(start = '2014-12-31', end = '2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [54]:
# 4. date 열을 인덱스로 지정한 후, 시간 범위를 인덱스로 지정

ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5, :5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0

In [55]:
### 시간 범위의 주기 설정하기

# date_range 메서드의 freq 인잣값 조절로 시간 범위 인덱스 생성

print(pd.date_range('2017-01-01', '2017-01-07', freq = 'B'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')